{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup_section.css' %}">

<div class="signup-review-container">
    {% if user.is_authenticated %}
        <div class="signup-review-content">
            <div class="illustration-container">
                <img src="{% static 'images/signup_section.webp' %}" alt="Write a Review Image" class="signup-review-illustration">
            </div>
            <div class="signup-review-text">
                <h2>Just finished an amazing book? </h2>
                <h3>Share your thoughts with the community!</h3>
                <ul>
                    <li><strong>Reflect:</strong> What moments stuck with you?</li>
                    <li><strong>Be honest:</strong> How did it make you feel?</li>
                    <li><strong>Inspire others:</strong> Your words might lead someone to their next great read.</li>
                </ul>
                <a href="{% url 'write_review' %}" class="signup-review-btn">Write A Review</a>
            </div>
        </div>
    {% else %}
        <div class="signup-review-content">
            <div class="illustration-container">
                <img src="{% static 'images/signup_section.webp' %}" alt="Sign Up Image" width="800" class="signup-review-illustration" loading="lazy">
            </div>
            <div class="signup-review-text">
                <h2>Sign up to discover and share your passion for books with like-minded readers.</h2>
                <a href="{% url 'signup' %}" class="signup-review-btn">Sign-Up</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
