
# Ignore virtual environments
venv/
.env

# Ignore SQLite database file
db.sqlite3

# Ignore directory for static files
staticfiles/

# Ignore system files
.DS_Store

# Ignore Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Ignore Django migrations
**/migrations/

