.hero-section {
    background-color: var(--color-light-gray) !important;
    padding: 0 6rem !important;
    background-color: var(--color-off-white);
}

.hero-title {
    color: var(--color-dark-charcoal);
    font-weight: 900;
    font-size: 2.5rem;
}

.hero-description {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero-button {
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
    padding: 0.6rem 3rem;
    margin-top: -1.3rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.hero-button:hover {
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
}

.hero-image {
    max-width: 100%;
}

@media (max-width: 48rem),
(min-width: 48.0625rem) and (max-width: 73.75rem) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-description {
        font-size: 1.125rem;
    }

    .hero-section {
        text-align: center;
        padding: 2rem 1rem !important;
    }
}