.update-profile-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-profile-form-container h2 {
    padding: 2rem;
    line-height: 0.0625rem;
    margin-top: 2.3rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.divider-update-profile {
    border-bottom: 0.0625rem solid hsl(0deg 0% 89.35%);
    width: 7rem;
    margin-bottom: 3rem;
    margin-top: -0.3rem;
}

.update-profile-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 26.875rem;
}

.update-profile-group label {
    margin-bottom: 0.5rem;
}

.update-profile-group input,
textarea {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid hsl(0deg 0% 89.35%);
    width: 100%;
}

.update-profile-submit-btn {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
    font-weight: 700;
    width: 100%;
    margin-bottom: 2rem;
}

.update-profile-submit-btn:hover {
    background-color: hsla(60, 7%, 16%, 0.957);
}

.delete-btn {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #aa2a2a;
    color: var(--color-off-white);
    font-weight: 700;
    margin-bottom: 2rem;
}