.review_card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background-color: var(--color-neutral-gray);
}

.review_card-container.no-bg {
    background-color: transparent;
}

.review_card-container h2 {
    font-size: 2rem;
    margin: -1rem 0 2.6rem;
}

.review_card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 1rem;
    justify-items: center;
}

.review-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-off-white);
    border: 0.0625rem solid hsl(0deg 0% 87.05%);
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 0%);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    min-height: 25rem;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    flex-grow: 1;
}

.card-body small {
    color: var(--color-muted-gray);
    margin-bottom: 0.5rem;
}

.card-img-top {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    border-bottom: 0.1875rem solid var(--color-dark-charcoal);
}

.card_title {
    font-size: 1rem;
    font-weight: bold;
}

.card_title a {
    color: var(--color-dark-charcoal);
    position: relative;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.card_title a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark-charcoal);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
}

.card_title a:hover::after {
    transform: scaleY(1);
}

.review-content {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.review-card .small-author {
    font-size: 0.8rem;
    color: var(--color-muted-gray);
    margin: 0.2rem 0 0.2rem;
}

.full_post-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.read_full-post {
    text-align: center;
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
    width: 8rem;
    padding: 0.7rem;
    border-radius: 0.3125rem;
}

.read_full-post:hover {
    background-color: hsla(60, 8%, 16%, 0.937);
}

@media (max-width: 64rem) {
    .review_card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 48rem) {
    .review_card-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 30rem) {
    .review_card-container {
        margin-bottom: 1rem;
        padding: 4rem 0;
    }

    .review_card-wrapper {
        padding: 0.8rem;
    }
}