.reviews-wrapper {
    background-color: var(--color-neutral-gray);
}

.latest_review-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 3rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.container-fluid {
    background-color: var(--color-neutral-gray);
    padding: 0;
    margin: 0;
}

.latest_review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28.75rem;
    width: 94%;
    margin: 0 auto 5.625rem;
}

.card-body {
    padding: 1.25rem;
}

.card-img-top {
    object-fit: cover;
    height: 12.5rem;
    border-bottom: 0.3125rem solid #565656;
}

.card-title,
.card-text,
.review-content {
    font-family: "Lato";
}

.card-title {
    font-size: 1.1875rem;
    font-weight: 800;
}

.card-text {
    font-size: 0.9375rem;
    font-weight: 300;
    color: var(--color-light-gray);
}

.review-content {
    max-height: 6.25rem;
    overflow: hidden;
    margin-top: -0.625rem;
}

.full_post-box {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.read_full-post {
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    text-decoration: none;
    margin-top: 1rem;
}

.read_full-post:hover {
    background-color: hsla(60, 8%, 16%, 0.965);
    color: var(--color-off-white);
}

.latest_title-section {
    font-weight: 900;
    padding: 2rem;
}

.latest_review {
    padding: 2rem 2rem 5rem !important;
}

.latest_reviews-pagination {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

.pagination {
    padding-bottom: 3.25rem;
}

.pagination,
.page-item a,
.page-link {
    color: var(--color-dark-charcoal);
}

.active>.page-link,
.page-link.active {
    background-color: var(--color-dark-charcoal);
    border-color: var(--color-dark-charcoal);
}

.page-item a:hover {
    color: var(--color-deep-purple);
}

.page-item a:focus {
    color: var(--color-dark-charcoal);
}

@media (max-width: 768px),
(min-width: 769px) and (max-width: 1180px) {
    .latest_review-wrapper {
        padding: 0;
    }

    .card-title {
        font-size: 1.0625rem;
        justify-content: center;
    }
}