.signup-review-container {
    display: flex;
    background-color: var(--color-light-gray);
}

.signup-review-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 2.5rem;
}

.illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signup-review-illustration {
    max-width: 100%;
    height: auto;
}

.signup-review-text {
    width: 50%;
    padding: 1.25rem;
}

.signup-review-text h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.875rem;
}

.signup-review-text h3 {
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-top: -1.5625rem;
}

.signup-review-text p {
    margin-bottom: 0.625rem;
}

.signup-review-text ul {
    margin: 1.25rem 0 1.875rem;
}

.signup-review-text ul li {
    color: #333;
}

.signup-review-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.25rem;
    padding: 0.625rem 1.25rem;
    margin: 0 auto;
    background-color: var(--color-dark-charcoal);
    color: var(--color-off-white);
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.signup-review-btn:hover {
    background-color: hsla(60, 8%, 16%, 0.964);
}

@media (max-width: 48rem) {
    .signup-review-content {
        flex-direction: column;
    }

    .illustration-container,
    .signup-review-text {
        width: 100%;
    }

    .signup-review-text h2 {
        font-size: 1.8rem;
    }
}