{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-container">
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="login-form">
        <h2>Welcome back! 👋</h2>
        <h1>Sign in to your account</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-login-group">
                <label for="{{ form.username.id_for_label }}">Your email or username</label>
                {{ form.username }} 
            </div>
            <div class="input-login-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}  
            </div>
            <button type="submit" class="login-btn">Continue</button>

            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <p>Oops! Something went wrong with your login. Please check your email and password and try again.</p>
                </div>
            {% endif %}
        </form>
        <div class="login-footer">
            <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</div>

{% endblock %}
