{% extends 'base.html' %}
{% load static %}

{% block title %}
    Post Page - {{ post.title }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{% static 'css/post_detail.css' %}"></noscript>

<link rel="preconnect" href="https://res.cloudinary.com">

<div class="container-fluid post-container">
    <div class="row cover_image-container">
        <div class="col-12">
            <img src="{{ post.get_post_image }}" alt="Cover Image" class="post-cover-image" loading="lazy" width="800" height="400">
        </div>
    </div>

    <div class="row mt-4 post_detailed-container text-center">
        <div class="col-md-1">
            <img src="{% if post.author.profile.profile_picture %}{{ post.author.profile.profile_picture.url }}?q_auto,f_auto{% else %}{% static 'images/profile_image_default.jpeg' %}{% endif %}" 
                 alt="Author Image" class="author-imgage" loading="lazy" width="80" height="80">
        </div>

        <div class="col-md-9 mx-auto d-flex">
            <div class="line-container">
                <div class="vertical-line"></div>
            </div>
            <div class="post-detailed-main">
                {% if user == post.author %}
                <div class="post-edit-dlt">
                    <a href="{% url 'edit_post' post.slug %}" class="review-edit-btn"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'delete_post' post.slug %}" class="review-dlt-btn"><i class="bi bi-trash-fill"></i></a>
                </div>
                {% endif %}
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-author">
                    by <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
                    <span class="post-date">
                        {% if post.published_date %}
                            Published on {{ post.published_date|date:"M d, Y" }}
                        {% else %}
                            Created on {{ post.created_on|date:"M d, Y" }}
                        {% endif %}
                    </span>
                </p>
                
                <div class="post-content">
                    <div class="post_border"></div>
                    {{ post.content|safe }}
                </div>
                <div class="post_border"></div>
            </div>
        </div>
    </div>

    <section class="comments-container" id="comments-section">
        <div id="deleteModal" class="modal" style="display: none;">
            <div class="modal-content">
                <p>Are you sure you want to delete this comment?</p>
                <form id="deleteForm" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
                </form>
            </div>
        </div>
        {% if messages %}
<div id="popup-message" class="popup-container">
    {% for message in messages %}
        <div class="popup popup-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

        <h3 class="comment-count">{{ page_obj.paginator.count }} Comments</h3>
        <hr class="horizontal-separator">
    
        <div id="comments-list">
            {% for comment in page_obj %}
                <div class="comment-item">
                    <div class="comment-author">
                        <strong>{{ comment.author.username }}</strong> {{ comment.created_at|timesince }} ago
                    </div>
                    <p>{{ comment.content }}</p>
    
                    {% if comment.author == user %}
                    <form action="{% url 'delete_comment' comment.id %}" method="POST" onsubmit="return false;">
                        {% csrf_token %}
                        <span class="delete-wrap">
                            <button type="button" class="btn btn-danger btn-sm" onclick="openModal(this)">Delete</button>
                        </span>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    
        {% if user.is_authenticated %}
            <div id="add-comment-form" class="add-comment-container">
                <h4 class="add-comment">Add a Comment</h4>
                <form method="POST">
                    {% csrf_token %}
                    <div class="comment-form">
                        <textarea class="form-control" id="commentText" name="commentText" rows="3" placeholder="Write your comment here..."></textarea>
                        <button type="submit" class="btn post-comment">Post Comment</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div id="login-message" class="login-message">
                <p class="comment-msg">Have thoughts about the book? <a href="{% url 'login' %}">Sign in</a> to leave a comment.</p>
            </div>
        {% endif %}

           <div class="comments-pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
    </div>
    
 <script src="{% static 'js/post_detail.js' %}"></script>

{% endblock %}
